<h1>Listing certifications</h1>

<table>

   <tr>
    <td colspan = "5">Download: <%= link_to "Excel", certifications_path(format: "xls") %></td>
  </tr>

  <tr>
    <th>Specialty</th>
    <th>Year</th>
    <th colspan = "3">Actions</th>    
  </tr>

 

<% @certifications.each do |certification| %>
  <tr>
    <td><%= certification.specialty%></td>
    <td><%= certification.year%></td>
    <td><%= link_to 'Show', certification %></td>
    <td><%= link_to 'Edit', edit_certification_path(certification) %></td>
    <td><%= link_to 'Destroy', certification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Certification', new_certification_path %>
